<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*网页宽度默认等于屏幕宽度（width=device-width），原始缩放比例（initial-scale=1）为1.0，即网页初始大小占屏幕面积的100%。*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>梧州西江四桥健康监测系统</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/content/mask/chardinjs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/system")
    @Scripts.Render("~/bundles/mask/chardinjs")


    <script>
        var userName = "@Session[WebConstants.UserNickNameKey].ToString()";
    </script>
    <script>
        $(function () {
            if (userName != "admin") {
                $("li.adminli").css("display", "none");
                $("input.adminInput").css("display", "none");
                $("td.admintd").css("display", "none");
            }
        })
    </script>
</head>

<body>
    <div class="navbar navbar-duomi navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <span id="top-title">梧州市西江四桥运营期健康监测系统&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>

                <span id="welecom">
                    欢迎您： @Html.ActionLink(Session[WebConstants.UserNickNameKey].ToString(), "EditUserInfo", "User", "", new { style = "color:white" })&nbsp&nbsp&nbsp
                </span>

                <span>
                    @using (Html.BeginForm(actionName: "Logout", controllerName: "User", method: FormMethod.Post, htmlAttributes: new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:void($('#logoutForm').submit())" onclick="return confirm('确认注销吗？')"><span style="color:white">注销</span></a>
                    }
                </span>
                @*&nbsp;
                <span class="back">
                    @Html.ActionLink("返回主页", "Index", "Home","", new { style = "color:white" })
                </span>*@
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 " id="sidebar">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
                    <li>
                        <a href="/Home/Index">
                            <i class="glyphicon glyphicon-home"></i>&nbsp首页
                        </a>

                    </li>
                    <li class="active">
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>&nbsp系统介绍
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="/SystemInformation/SystemDescription"><i class="glyphicon glyphicon-align-center"></i>&nbsp系统总体说明</a>
                            </li>

                            <li>
                                <a href="/SystemInformation/SystemFunctionIntroduction"><i class="glyphicon glyphicon-align-center"></i>&nbsp系统功能简介</a>
                            </li>
                            <li>
                                <a href="/SystemInformation/MonitoringPointsPositionAndNumber"><i class="glyphicon glyphicon-align-center"></i>&nbsp测点布置及编号</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#systemSetting1" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-search"></i>&nbsp
                            实时监测
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting1" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="#systemSecondSetting1" class="nav-header collapsed" data-toggle="collapse"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp应变监测</a>
                                <ul id="systemSecondSetting1" class="nav nav-list collapse thirdmenu" style="height: 0px;">
                                    <li>
                                        <a href="/RealTimeMonitoring/SteelArchStrainDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp钢拱肋应变监测</a>
                                    </li>
                                    <li>
                                        <a href="/RealTimeMonitoring/SteelLatticeStrainDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp钢格构应变监测</a>
                                    </li>
                                    <li>
                                        <a href="/RealTimeMonitoring/ConcreteStrainStrainDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp混凝土应变监测</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/RealTimeMonitoring/DisplacementDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp位移监测</a>
                            </li>

                            <li>
                                <a href="/RealTimeMonitoring/TemperatureDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp温度监测</a>
                            </li>

                            <li>
                                <a href="/RealTimeMonitoring/HumidityDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp湿度监测</a>
                            </li>

                            <li>
                                <a href="/RealTimeMonitoring/WindLoadDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp风速风向监测</a>
                            </li>

                            <li>
                                <a href="/RealTimeMonitoring/CableForceDatasRealTimeMonitoring"><i class="glyphicon glyphicon-stats glyphicon "></i>&nbsp索力监测</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#systemSetting3" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-download-alt"></i>&nbsp
                            数据查询与统计
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting3" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="/MonitoringDatas/DataQuery"><i class="glyphicon glyphicon-eye-open"></i>&nbsp数据查询</a></li>
                            <li><a href="/MonitoringDatasComparingQuery/DataComparingQuery"><i class="glyphicon glyphicon-fullscreen"></i>&nbsp对比查询</a></li>
                            <li><a href="/AlarmDatasManagement/AlarmDatasManagementQuery"><i class="glyphicon glyphicon-edit"></i>&nbsp预警数据管理</a></li>
                            <li class="adminli"><a href="/AnomalousEventManagement/AnomalousEventManagement"><i class="glyphicon glyphicon-eye-open"></i>&nbsp异常事件管理</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="#systemSetting4" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-th-list"></i>&nbsp
                            安全预警与评估
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting4" class="nav nav-list collapse secondmenu" style="height: 0px;">                          
                            <li><a href="/SafetyPreWarning/SafetyPreWarning"><i class="glyphicon glyphicon-th-list"></i>&nbsp安全预警</a></li>
                            <li><a href="/ManualInspectionSafetyAssessment/ManualInspectionSafetyAssessment"><i class="glyphicon glyphicon-asterisk"></i>&nbsp人工巡检评估</a></li>
                            <li><a href="/FirstLevelSafetyAssessment/FirstLevelSafetyAssessment"><i class="glyphicon glyphicon-asterisk"></i>&nbsp一级安全评估</a></li>
                            <li><a href="/SecondLevelSafetyAssessment/SecondLevelSafetyAssessment"><i class="glyphicon glyphicon-asterisk"></i>&nbsp二级安全评估</a></li>
                            <li><a href="/SpecialSafetyAssessment/SpecialSafetyAssessment"><i class="glyphicon glyphicon-asterisk"></i>&nbsp专项评估</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#systemSetting5" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-user"></i>&nbsp
                            账户管理
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting5" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li>
                                <a href="/User/EditUserInfo"><i class="glyphicon glyphicon-list"></i>&nbsp编辑账号</a>
                            </li>
                            <li class="adminli">
                                <a href="/AdminUser/RegistUser"><i class="glyphicon glyphicon-pencil"></i>&nbsp用户注册</a>
                            </li>
                            <li class="adminli">
                                <a href="/AdminUser/ListUserMessage"><i class="glyphicon glyphicon-briefcase"></i>&nbsp用户管理</a>
                            </li>
                        </ul>
                    </li>

                    <li class="adminli">
                        <a href="#systemSetting6" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-th-list"></i> &nbsp系统管理
                            <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul id="systemSetting6" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            <li><a href="/ThresholdValueSetting/ThresholdValueSetting"><i class="glyphicon glyphicon-align-left"></i>&nbsp预警值阈值设置</a></li>
                            <li><a href="/AbnormalThresholdValueSetting/AbnormalThresholdValueSetting"><i class="glyphicon glyphicon-align-left"></i>&nbsp异常值阈值设置</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="col-md-10">
                @RenderBody()

            </div>
        </div>
    </div>
    <hr />
    <div class="footer" style="text-align:center">
        <div class="footer-inner">
            <div class="footer-inner-a">
                <a href="javascript:;" class="footer-a about">关于我们</a>
                <a href="javascript:;" class="footer-a contact">联系我们</a>
                <a href="javascript:;" class="footer-a shengming">法律声明</a>
                <a href="javascript:;" class="footer-a lianjie">友情链接</a>
            </div>
            <div class="allRight">
                <p>广西交通规划勘察设计研究院有限公司 版权所有&copy; @DateTime.Now.Year - 梧州西江四桥健康监测系统</p>
                <p>V1.0</p>
            </div>
        </div>
    </div>

</body>
@RenderSection("scripts", required: false)
</html>



