@model GxjtBHMS.Web.ViewModels.AbnormalThresholdValueSetting.AbnormalThresholdValueView

<tr class="text-center">
    <td>
        <span class="text-center form-control">@Model.TypeName</span>
    </td>
    <td>
        @Html.TextBoxFor(m => m.MaxLevelThresholdValue, new { @class = "text-center form-control" })
    </td>

    <td>
        @Html.TextBoxFor(m => m.MinLevelThresholdValue, new { @class = "text-center form-control" })
    </td>
    
    <td>
        @Html.HiddenFor(m => m.TypeId)
        <input class="form-control" type="button" onclick="abnormalSaveThresholdValue(this, '/AbnormalThresholdValueSetting/AbnormalSaveThresholdValue')" operate="save" value="保存" />
    </td>
   </tr>

@Html.AntiForgeryToken()


