
@{
    ViewBag.Title = "AbnormalThresholdValueSetting";
}

<div style="background-color:#F3F7FA;height:auto;vertical-align:middle">
    <h3 style="text-align:center;color:black;text-align:center">监测数据异常值阈值设置</h3>
</div>

@Html.Action("GetAbnormalThresholdValueList") @*阈值查询*@
<div id="message" style="color:@TempData[WebConstants.MessageColor]">@TempData[WebConstants.MessageKey]</div>

<hr />

@section scripts{
    @Scripts.Render("~/bundles/AbnormalThresholdValueSetting")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
}