@model GxjtBHMS.Web.ViewModels.AbnormalThresholdValueSetting.AbnormalThresholdValueView

<tr class="text-center" >
    <td style="vertical-align:middle">
        @Model.TypeName
    </td>
    <td>
        @Html.TextBoxFor(m => m.MaxLevelThresholdValue, new { @class = "text-center" })
    </td>

    <td>
        @Html.TextBoxFor(m => m.MinLevelThresholdValue, new { @class = "text-center" })
    </td>
    
    <td>
        @Html.HiddenFor(m => m.TypeId)
        <input class="btn btn-primary btn-sm" type="button" onclick="abnormalSaveThresholdValue(this, '/AbnormalThresholdValueSetting/AbnormalSaveThresholdValue')" operate="save" value="保存" />
    </td>
   </tr>

@Html.AntiForgeryToken()


