
@{
    ViewBag.Title = "AbnormalThresholdValueSetting";
}

<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>监测数据异常值阈值设置</strong></p>
</div>
<br />

@Html.Action("GetAbnormalThresholdValueList") @*阈值查询*@
<div id="message" style="color:@TempData[WebConstants.MessageColor]">@TempData[WebConstants.MessageKey]</div>

<hr />

@section scripts{
    @Scripts.Render("~/bundles/AbnormalThresholdValueSetting")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
}