@model GxjtBHMS.Web.ViewModels.AlarmDatas.AlarmDatasSeachResultView
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <td>测试时间</td>
                <td>测点位置</td>
                <td>测点编号</td>
                <td>测试值</td>
                <td>预警值</td>
                <td>单位</td>
                <td>预警等级</td>
            </tr>
        </thead>
        @foreach (var m in Model.Datas)
        {
            <tr class="text-center">
                <td>@m.Time</td>
                <td>@m.PointsPosition</td>
                <td>@m.PointsNumber</td>
                <td>@m.MonitoringData</td>
                <td>@m.ThresholdValue</td>
                <td>@m.Unit</td>
                <td>@m.ThresholdGrade</td>
            </tr>
        }
    </table>
</div>
<script>
       jqPaginatorSetting('#paginationNav',@Model.PaginatorModel.TotalPages,@Model.PaginatorModel.CurrentPageIndex);
</script>

@Html.AntiForgeryToken()

