
@{
    ViewBag.Title = "报警数据管理";
}

@Html.Action("GetDataQuerySearchBar") @*搜索栏*@
<div id="alarmDatasSearchContent">
    @*查询结果区域*@
</div>


<!--分页开始-->
<div class="pagination" id="paginationNav"></div>
<!--分页结束-->


@section scripts{
    @Scripts.Render("~/bundles/AlarmDatasQuerySearchContentPartial-website")
    @Scripts.Render("~/bundles/AlermDatasQuerySearchPartial")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/jqPaginator")
}


