@model IEnumerable<GxjtBHMS.Service.ViewModels.AlarmDatasModel.AlarmDatasModel>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <td>测试时间</td>
                <td>测试类型</td>
                <td>测点编号</td>
                <td>测试值(kN)</td>
                <td>预警值(kN)</td>
                <td>预警等级</td>
            </tr>
        </thead>

        @foreach (var m in Model)
        {
            <tr class="text-center">
                <td>@m.Time</td>
                <td>@m.TestType</td>
                <td>@m.PointsNumber</td>
                <td>@m.MonitoringData</td>
                <td>@m.ThresholdValue</td>
                <td>@m.ThresholdGrade</td>
            </tr>
        }
    </table>
</div>

@Html.AntiForgeryToken()

