
@{
    ViewBag.Title = "报警数据管理";
}

@Html.Action("GetDataQuerySearchBar") @*搜索栏*@
<div id="alarmDatasSearchContent">
    @*查询结果区域*@
</div>

@section scripts{
    @Scripts.Render("~/bundles/AlarmDatasQuerySearchContentPartial-website")
    @Scripts.Render("~/bundles/monitoringDatasSearchBar")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/jqPaginator")
    @Styles.Render("~/content/jqplotcss")
    @Scripts.Render("~/bundles/jqplot")
    @Scripts.Render("~/bundles/jqplot/plugins")
}


