@model GxjtBHMS.Web.ViewModels.SafetyAssessmentReportView.SafetyAssessmentReportViewModel

<tr class="text-center">
    <td>
        @Model.ReportName
    </td>

    <td>       
        @Model.ReportTime
    </td>
    <td>
        @Model.AssessmentGrade
    </td>
    <td>
        @Model.AssessmentState
    </td>
    <td>
        @Html.HiddenFor(m=>m.ReportName)
        @Html.HiddenFor(m=>m.ReporePath)
        <input class="btn btn-primary btn-sm" style="border:hidden"type="button" onclick="ManualInspectionSafetyAssessmentReportDownLoad(this, '/ManualInspectionSafetyAssessment/DownloadManualInspectionSafetyAssessmentReport')" value="下载报告" />
    </td>
    <td class="admintd">
        @Html.HiddenFor(m => m.ReportTime)
        @Html.HiddenFor(m => m.ReporePath)      
        <input class="btn btn-primary btn-sm" style="border:hidden" type="button" onclick="ManualInspectionSafetyAssessmentReportDelete(this, '/ManualInspectionSafetyAssessment/DeleteManualInspectionSafetyAssessmentReport')" value="删除报告" />
    </td>
</tr>
@Html.AntiForgeryToken()

<script>
        $(function () {
            if (userName != "admin") {
                $("li.adminli").css("display", "none");
                $("input.adminInput").css("display", "none");
                $("td.admintd").css("display", "none");
            }
        })
</script>

