@model GxjtBHMS.Web.ViewModels.Home.SafetyAssessmentModelsViewModel
<table class="table-bordered table-responsive" style="table-layout:fixed;margin:auto">
    <tr class="text-center" style="height:40px">
        <td width="250" colspan="2">安全评估项目 </td>
        <td width="80">评估时间</td>
        <td width="80">评估结果</td>
    </tr>

    <tr class="text-center" style="height:30px">
        <td width="100" rowspan="3" style="vertical-align:middle">一级安全评估 </td>
        <td width="150">变形评估</td>
        <td width="80" rowspan="3" style="vertical-align:middle">
            @Model.FirstSafetyAssessmentReportTime
        </td>
        <td width="80">@Model.FirstSafetyAssessmentResult_Displacement</td>
    </tr>
    <tr class="text-center" style="height:30px">
        <td width="150">应力评估</td>
        <td width="80">@Model.FirstSafetyAssessmentResult_Stress</td>
    </tr>
    <tr class="text-center" style="height:30px">
        <td width="150">吊杆及系杆索力评估</td>
        <td width="80">@Model.FirstSafetyAssessmentResult_CableForce</td>
    </tr>
    <tr class="text-center" style="height:30px">
        <td width="250" colspan="2">二级安全评估 </td>
        <td width="80" class="text-center">@Model.SecondSafetyAssessmentReportTime </td>
        <td width="80" class="text-center">@Model.SecondSafetyAssessmentResult</td>
    </tr>
    <tr class="text-center" style="height:30px">
        <td width="250" colspan="2">人工巡检安全评估 </td>
        <td width="80" class="text-center">@Model.ManualInspectionSafetyAssessmentReportTime</td>
        <td width="80" class="text-center">@Model.ManualInspectionSafetyAssessmentResult</td>
    </tr>
</table>


