@{
    ViewBag.Title = "主页";
}

 &nbsp;
<div class="row">
    <div class="col-md-5 panel panel-default">
        <div class="row panel-heading">
            <div class="col-md-7">
                <h3 class="panel-title">
                    安全预警信息
                </h3>
            </div>
            <div class="col-md-5">
                <label class="btn btn-primary btn-sm" style="float:right">
                    @Html.ActionLink("查看详情", "SafetyPreWarning", "SafetyPreWarning", "", new { style = "color:white" }) &raquo;
                </label>
            </div>
        </div>
        <div class="panel-body" style="height:230px">
            @Html.Action("GetSafetyWarningSearchContent")
        </div>
    </div>

    <div class="col-md-1" style="width:1px">&nbsp</div>

    <div class="col-md-5 panel panel-default">
        <div class="row panel-heading">
            <div class="col-md-7">
                <h3 class="panel-title">
                    异常事件
                </h3>
            </div>
            <div class="col-md-5">
                <label class="btn btn-primary btn-sm" style="float:right">
                    @Html.ActionLink("查看详情", "AnomalousEventManagement", "AnomalousEventManagement", "", new { style = "color:white" }) &raquo;
                </label>
            </div>
        </div>
        <div class="panel-body" style="height:230px">
            @Html.Action("GetAbnormalEventNumber")
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-5 panel panel-default">
        <div class="row panel-heading">
            <div class="col-md-7">
                <h3 class="panel-title">
                    状况评估结果
                </h3>
            </div>
            <div class="col-md-5">
                <label class="btn btn-primary btn-sm" style="float:right">
                    @Html.ActionLink("查看详情", "FirstLevelSafetyAssessment", "FirstLevelSafetyAssessment", "", new { style = "color:white" }) &raquo;
                </label>
            </div>
        </div>
        <div class="panel-body" style="height:230px">
            @Html.Action("GetSafetyAssessmentResult")
        </div>
    </div>

    <div class="col-md-1" style="width:1px">&nbsp</div>

    <div class="col-md-5 panel panel-default">
            <div class="row panel-heading">
                <div class="col-md-7">
                    <h3 class="panel-title">
                        工作建议
                    </h3>
                </div>
                <div class="col-md-5">
                    <label class="btn btn-primary btn-sm" style="float:right">
                        @Html.ActionLink("查看详情", "FirstLevelSafetyAssessment", "FirstLevelSafetyAssessment", "", new { style = "color:white" }) &raquo;
                    </label>
                </div>
            </div>
            <div class="panel-body" style="height:230px">
                @Html.Action("GetAssessmentSuggestion")
            </div>
        </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/SafetyPreWarningDetailSearchPartialwebsite")

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}


