@{
    ViewBag.Title = "阈值设置";
}

<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>监测数据预警值阈值设置</strong></p>
</div>
<br />



@Html.Action("GetThresholdValueSearchBar") @*下拉菜单搜索条件*@
@Html.Action("GetThresholdValuePullDownSearchBar") @*下拉菜单搜索条件*@


<div id="searchContent">
    @*查询结果区域*@
</div>


@section scripts{
    @Scripts.Render("~/bundles/thresholdValueSearchBar")
    @Scripts.Render("~/bundles/listThresholdValueMessage-website")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqPaginator")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
}