
@{
    ViewBag.Title = "AbormalThresholdValueSetting";
}
<h1 style="text-align:center">监测数据异常值阈值设置</h1>

<hr />

@Html.Action("GetAbnomalThresholdValueList") @*阈值查询*@

<hr />

@section scripts{
    @Scripts.Render("~/bundles/thresholdValueSearchBar")
    @Scripts.Render("~/bundles/listThresholdValueMessage-website")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqPaginator")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
}