@model GxjtBHMS.Web.ViewModels.SafetyAssessmentReportView.SafetyAssessmentReportViewModel

<tr class="text-center">
    <td>
        @Model.ReportName
    </td>
    <td>
        @Model.ReportTime
    </td>
    <td>
        @Html.HiddenFor(m => m.ReportName)
        @Html.HiddenFor(m => m.ReportId )
        <input class="btn btn-primary btn-sm"style="border:hidden" type="button" onclick="downloadReport(this, '/FirstLevelSafetyAssessment/DownloadReport')" operate="download" value="下载报告" />
    </td>

</tr>

@Html.AntiForgeryToken()


