@model GxjtBHMS.Web.ViewModels.SafetyAssessmentReportView.SafetyAssessmentReportViewModel

<tr class="text-center">
    <td>
        @Html.TextBoxFor(m => m.ReportName, new { @class = "text-center", @style = "border:hidden" })
    </td>

    <td>
        @Html.TextBoxFor(m =>m.ReportTime, new { @class = "text-center", @style = "border:hidden" })
    </td>
    <td>
        @Html.HiddenFor(m => m.ReportName)
        @Html.HiddenFor(m => m.ReportId )
        <input class="btn btn-primary btn-sm"style="border:hidden" type="button" onclick="downloadReport(this, '/FirstLevelSafetyAssessment/DownloadReport')" operate="download" value="下载报告" />
    </td>

</tr>

@Html.AntiForgeryToken()


