@model MornitoringDataSearchBarBaseView

<div class="form-group searchContent">
    <label for="mornitorTestTypeSelectFirst" class="control-label"> 测试类型：</label>
    @Html.DropDownListFor(m => m.MornitoringTestTypeId, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringTestTypesKey],
            new { id = "mornitorTestTypeSelectFirst", @class = "selectpicker" })
    <label for="monitorTestPointsPositionSelectFirst" class="control-label col-md-offset-1"> 测点位置：</label>
    @Html.DropDownListFor(m => m.MornitoringPointsPositionId, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringPointsPositionKey],
      new { id = "monitorTestPointsPositionSelectFirst", @class = "selectpicker" })

    <label for="monitorTestPointsNumberSelectFirst" class="control-label col-md-offset-1">   测点编号：</label>
    @Html.DropDownListFor(m => m.MornitoringPointsNumberIds, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringPointsNumberKey],
      new { id = "monitorTestPointsNumberSelectFirst", @class = "selectpicker"})
</div>

<div class="form-group searchContent">
    <label for="mornitorTestTypeSelectSecond" class="control-label"> 测试类型：</label>
    @Html.DropDownListFor(m => m.MornitoringTestTypeId, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringTestTypesSecondKey],
            new { id = "mornitorTestTypeSelectSecond", @class = "selectpicker" })
    <label for="monitorTestPointsPositionSelectSecond" class="control-label col-md-offset-1"> 测点位置：</label>
    @Html.DropDownListFor(m => m.MornitoringPointsPositionId, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringPointsPositionSecondKey],
      new { id = "monitorTestPointsPositionSelectSecond", @class = "selectpicker" })

    <label for="monitorTestPointsNumberSelectSecond" class="control-label col-md-offset-1">   测点编号：</label>
    @Html.DropDownListFor(m => m.MornitoringPointsNumberIds, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringPointsNumberSecondKey],
      new { id = "monitorTestPointsNumberSelectSecond", @class = "selectpicker"})
</div>

<div class="form-group searchContent">
    <label for="datetimepickerStart" class="control-label">
        开始时间：
        @Html.TextBoxFor(m => m.StartTime, new { style = "width:220px", id = "datetimepickerStart", @class = "selectpicker" })
    </label>
    <label for="datetimepickerEnd" class="control-label col-md-offset-1">
        结束时间:
        @Html.TextBoxFor(m => m.EndTime, new { style = "width:220px", id = "datetimepickerEnd", @class = "selectpicker" })
    </label>
    <input type="button" id="bttnquery" value="查询" class="btn btn-primary btn-sm col-md-offset-1" />
</div>
<hr />


