@{
    ViewBag.Title = "异常事件管理";
}

<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>异常事件查询</strong></p>
</div>
<br />

<div>
    <!--用户查询搜索栏开始-->
    <p>@Html.Action("GetDataQuerySearchBar")</p>
    <!--用户查询搜索栏结束-->
    <div id="message" style="color:@TempData[WebConstants.MessageColor]">@TempData[WebConstants.MessageKey]</div>
    <div id="AnomalousEventManagementSearchContent">
       @*存放返回信息的地方*@
    </div>
    <!--分页开始-->
    <div class="pagination" id="paginationNav"></div>
    <!--分页结束-->
@Html.Hidden("TotalPages", ViewData["TotalPages"]) @*将总页数暂存到隐藏域中，以便给初始化分页导航脚本函数使用*@
</div>



@section scripts{
    @Scripts.Render("~/bundles/AnomalousEventManagementSearchPartial")
    @Scripts.Render("~/bundles/AnomalousEventManagementPagination")
    @Scripts.Render("~/bundles/AnomalousEventManagement-Download")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/jqPaginator")
}
