@model GxjtBHMS.Web.ViewModels.AnomalousEventManagement.AnomalousEventManagementViewModel

<tr class="text-center">
    <td>
        @Model.Time
    </td>

    <td>
        @Model.TestType
    </td>
    <td>
        @Model.PointsPosition
    </td>
    <td>
        @Model.PointsNumber
    </td>
    <td>
        @Model.AnomalousEventReason
    </td>

</tr>

@Html.AntiForgeryToken()


