@{
    ViewBag.Title = "数据查询结果";
}

<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>数据查询</strong></p>
</div>
<br />

@Html.Action("GetDataQuerySearchBar") @*搜索栏*@
<div id="searchContent">
    @*查询结果区域*@
</div>

@section scripts{
    @Scripts.Render("~/bundles/monitoringDatasSearchBar")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/content/datetimepickercss")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/jqPaginator")
    @Styles.Render("~/content/jqplotcss")
    @Scripts.Render("~/bundles/jqplot")
    @Scripts.Render("~/bundles/jqplot/plugins")
}

