
@{
   ViewBag.Title="安全预警" ;
}
<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>安全预警</strong></p>
</div>
<br />

@Html.Action("GetSafetyWarningSearchContent")

<hr />

<div id="searchContent" class="scrolltable">
    @*查询结果区域*@
</div>




@section scripts{
    @Scripts.Render("~/bundles/SafetyPreWarningDetailSearchPartialwebsite")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqPaginator")
    @Styles.Render("~/content/css/bootstrap-select")
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/content/hotspotcss")
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}