@model GxjtBHMS.Web.ViewModels.FirstLevelSafetyAssessment.FirstLevelSafetyAssessmentViewModel

<tr class="text-center">
    <td>
        @Html.TextBoxFor(m => m.ReportName, new { @class = "text-center", @style = "border:hidden" })
    </td>

    <td>
        @Html.TextBoxFor(m =>m.ReportTime, new { @class = "text-center", @style = "border:hidden" })
    </td>

    <td>
        @Html.TextBoxFor(m => m.AssessmentGrade, new { @class = "text-center", @style = "border:hidden" })
    </td>
    <td>
        @Html.TextBoxFor(m => m.AssessmentState, new { @class = "text-center", @style = "border:hidden" })
    </td>

    <td>
        <input class="form-control"style="border:hidden" type="button" id="FirstLevelSafetyAssessmentReportDownLoad" value="下载报告" />
    </td>

</tr>

@Html.AntiForgeryToken()


